= provide :articles, 'active'

.container.articles
  .row
    .col-sm-12.col-md-12.col-lg-8.col-xl-8
      h2.my-4 Interesting articles
      - @articles.each do |article|
        .card.mb-4
          .card-body
            h2.card-title
              = link_to article.title, article
            .custom-tinymce
              == article.short_description
            = link_to 'Read more...', article, class: 'btn btn-primary'
          .card-footer.text-muted
            = article.decorate.posted_date
            ' by #{article.author}
      = paginate @articles
    = render 'articles/sidebar'
