<div class="container categories">
  <div class="row">
    <div class="col-md-12">
      <h3 class="my-4">Edit category</h3>
    </div>
    <div class="col-md-12">
      <%= render 'form', category: @category %>
    </div>
  </div>
</div>
