<div class="container articles">
  <div class="row">
    <div class="col-md-12">
      <h3 class="my-4">New articlee</h3>
    </div>
    <div class="col-md-12">
      <%= render 'form', article: @article %>
    </div>
  </div>
</div>
