@import 'bootstrap'
@import 'articles'
@import 'categories'
@import 'easy-autocomplete'
@import 'easy-autocomplete.themes'
@import 'main'
@import 'font-awesome'
@import 'colors'
@import 'books'
@import 'certificates'
@import 'fancybox.min'

.btn-margin
  margin:
    left: 5px
    top: 5px
  span
    margin:
      left: 5px

.center
  text-align: center
