@import 'bootstrap'
@import 'articles'
@import 'categories'
@import 'attachments'
@import 'easy-autocomplete'
@import 'easy-autocomplete.themes'
@import 'books'
@import 'contacts'
@import 'select2-bootstrap'

.btn-margin
  margin:
    left: 5px
    top: 5px
  span
    margin:
      left: 5px

.responsive
  width: 100%
  height: 100%

.right
  display: flex
  justify-content: flex-end
  align-items: center

.center-block
  display: flex
  justify-content: center
  align-items: center

#sortable
  cursor: pointer

#networks
  margin:
    bottom: 20px
    top: 20px

.flex
  display: flex
  justify-content: space-between
