@import 'bootstrap'
@import 'articles'
@import 'categories'
@import 'attachments'
@import 'easy-autocomplete'
@import 'easy-autocomplete.themes'

.btn-margin
  margin:
    left: 5px
    right: 5px
  span
    margin:
      left: 5px

.responsive
  width: 100%
  height: 100%

#sortable
  cursor: pointer
