<!-- Page Content -->
<div class="container articles">
	<div class="row">
		<!-- Post Content Column -->
		<div class="col-lg-8">
			<!-- Title -->
			<h1 class="mt-4"><%= @category.title %></h1>
    </div>
    <%= link_to 'Back', users_categories_path, class: 'btn btn-secondary' %>
	</div>
	<!-- /.row -->
</div>
